[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
html5lib = "*"
httpx = {extras = ["http2"], version = "*"}
sqlmodel = "*"
fastapi = {version = "*", extras = ["standard"]}
psycopg = {version = "*", extras = ["binary"]}

[dev-packages]
mypy = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.9"
