[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
beautifulsoup4 = "*"
html5lib = "*"
httpx = {extras = ["http2"], version = "*"}

[dev-packages]
mypy = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.8"
